* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 1rem;
    max-width: 800px;
    margin: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.dark-theme {
    background-color: #333;
    color: #f9f5d7;
}

.dark-theme footer {
    background-color: #111;
}
