/* Importar fuente Google Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General Styles */
body {
    font-family: 'Roboto', 'Arial', sans-serif; /* Añadir Roboto con Arial como respaldo */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #0e0e0f;
    margin-bottom: 0;
    font-weight: bold; /* Usa la fuente Roboto en negrita */
}

header {
    width: 100%;
    background-color:#2e49c0;
    color: white;
    padding: 1rem 0;
    text-align: center;
    font-weight: 700; /* Usa Roboto en negrita */
}

.highlight {
    color: #dbeff3;
    text-align: center;
}

/* Navbar Styles */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #000; /* Cambiado a color negro */
    margin-top: 10px;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: transparent; /* Fondo transparente */
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, text-decoration 0.3s ease;
}

nav ul li a:hover {
    text-decoration: underline; /* Subrayado en hover */
    background-color: #333; /* Color más oscuro al hacer hover */
    color: white;
}

main {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 48%;
}

.about {
    display: flex;
    flex-direction: column;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about-text {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Añade un espacio entre los elementos de texto */
}

.about img.profile-pic {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-left: 20px;
}

img.flag {
    width: 100px;
    height: auto;
    align-self: flex-start; /* Alinea la imagen de la bandera al inicio */
    margin-top: 20px;
}

footer {
    background-color: #23395d;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}