

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    background-color: #266aad;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    font-size: 1.8rem;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    background-color: #3676b6;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Main Content */
main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.card {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* About Me Section */
.about-me h2 {
    background-color: #367bc0;
    color: white;
    padding: 0.5rem;
    text-align:justify;
}

.about-me .profile-pic {
    float: right;
    border-radius: 8px;
    margin-left: 2rem;
    width: 150px;
}

.about-me .flag-pic {
    width: 150px;
    display: block;
    margin: 1rem auto;
}

/* Resources Section */
.resources h2 {
    background-color: #2c6eaf;
    color: white;
    padding: 0.5rem;
    text-align: center;
}

.resources ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.resources ul li {
    margin: 0.5rem 0;
}

.resources ul li a {
    text-decoration: none;
    color: #3498db;
}



/* Footer */
footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0.5rem 0;
}
