/* Desktop overrides */

.hamburger {
  display: none;
}

.nav-links {
  display: flex;
  position: static;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  background-color: transparent;
}

.gallery {
  grid-template-columns: repeat(3, 1fr);
}
